.topnav {
    font-size: 14px;
}
.main-content{
    padding-top: 100px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-wrapper {
    min-height: 100%;
    padding: 0 0 100px;
    position: relative;
}

footer {
    bottom: 0;
    height: 100px;
    left: 0;
    position: absolute;
    width: 100%;
    margin-top: 30px;
    background-color: #f8f8f8;
    padding-top: 30px;
}

#map{
    width:100%;
    height:500px;
}

.stations, .stations svg {
    position: absolute;
}

.stations svg {
    width: 10px;
    height: 10px;
    font: 10px sans-serif;
}


.stations svg.marker {
    overflow:visible;
}
.stations svg.marker text{
    font-size:20px;
}

.stations circle {
    fill: brown;
    stroke: black;
    stroke-width: 1.5px;
}

.lines {
    position: absolute;
    width: 0px;
    height: 0px;
    overflow:visible;
}

.lines svg {
    position: absolute;
    overflow:visible;
}

.lines path {
    stroke-width: 3;
    stroke:crimson;
    fill: none;
    opacity: .5;
}

.high-z-order{
    z-index: 1000;
}
.gmnoprint, .gm-style-cc{
    z-index: 1000;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

[disabled="disabled"]{
    opacity: .5;
}

.pagination input{
    width:40px;
}